@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');




* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: 'Montserrat', sans-serif;
}


  
  details {
    width: 75%;
    min-height: 5px;
    max-width: 700px;
    padding: 45px 70px 45px 45px;
    margin: 0 auto;
    position: relative;
    font-size: 22px;
    border: 1.5px solid rgba(0,0,0,.1);
    border-radius: 15px;
    transition: all 0.5s;
  }
  
  details + details {
    margin-top: 50px;
  }
  
  details[open] {
    min-height: 50px;
    background-color: #f6f7f8;
    box-shadow: 2px 2px 20px #0000001e;
  }
  
  details p {
    color: #96999d;
    font-weight: 300;
  }
  
  summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    cursor: pointer;
  }
  
  summary:focus {
    outline: none;
    
  }
  
  summary:focus::after {
    content: "";
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    
  }
  
  summary::-webkit-details-marker {
    display: none
  }
  
  .control-icon {
    fill: var(--main-color);
    transition: .3s ease;
    pointer-events: none;
  }
  
  .control-icon-close {
    display: none;
  }
  
  details[open] .control-icon-close {
    display: initial;
    transition: 0.5s ease;
  }
  
  details[open] .control-icon-expand {
    display: none;
  }
  

  .container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20vh;
}

.button {
    position: relative;
    border: 0.2rem solid #0097ee;
    display: flex;
    align-items: center;
    justify-content: center;
    

    outline: none;
    box-shadow: 0 1px 8px 0 #9292923a;
    background: #ffffff;
    color: #000;
    border-radius: 100px;
    padding: 16px 64px;
    font-family: 'Quicksand', sans-serif;
    font-size: 24px;
    font-weight: 600;
    cursor: pointer;
    transition: box-shadow 0.5s ease;

}

.button:hover {
    box-shadow: 0 0 12px 0 #0097ee70;
}


#connectButton {
    margin-bottom: 16px;
    color: rgb(0, 151, 238);
    color: linear-gradient(90deg, hsl(202, 100%, 47%) 0%, rgba(0, 154, 237, 1) 50%, rgba(0, 191, 255, 1) 100%);

}

#walletID span{
    max-width: 90%;
    margin: 0 auto;
    font-size: 12px;
    font-weight: 600;
}

#mobileDeviceWarning {
    display: none;
    margin-top: 24px;
    color: rgb(247, 47, 47);
}

#mobileDeviceWarning.show {
    display: block;
}

.alert {
    z-index: 10;
    position: fixed;
    left: 0;
    top: 0;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: #ffffff;
}

.alert.show {
    display: flex;
}

.alert .button {
    margin-top: 24px;
}

/* Loading dots styles */
@keyframes opacity {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

.loadingButton {
    pointer-events: none;
}

.loadingButton #loading {
    display: flex;
}

#loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    background: #fff;
    border-radius: 99px;
}

#loading span:not(:last-child) {
    margin-right: 5px;
}

#loading span {
    animation-name: opacity;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

#loading span:nth-child(2) {
    animation-delay: 100ms;
    animation-delay: 100ms;
}

#loading span:nth-child(3) {
    animation-delay: 300ms;
    animation-delay: 300ms;
}



.cursor {
  z-index: 999;
  position: fixed;
  background: rgb(0, 174, 255);
  ;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  pointer-events: none;
  box-shadow: 0 0 20px #26abe8,
    0 0 60px #26b1e8,
    0 0 100px #26a1e8;
  transform: translate(-50%, -50%);
  display: none;
}

@keyframes colors {
  0% {
    filter: hue-rotate(0deg);
  }

  100% {
    filter: hue-rotate(360deg);
  }
}

.cursor:before {
  content: '';
  position: absolute;
  background: #2696E8;
  width: 50px;
  height: 50px;
  opacity: 0.2;
  transform: translate(-30%, -30%);
  border-radius: 50%;
}

/* ==================================*/
:root {
  --bg-color: #ffffff;
  --second-bg-color: #f1f1f1;
  --text-color: hsl(0, 0%, 11%);
  --main-color: #089cff;
  ;
}




html {
  font-size: 62.5%;
  overflow-x: hidden;
}



body {

    font-family: "IBM Plex Sans", sans-serif;
    background: linear-gradient(315deg, #ffffff, #ffffff, #e1e1e1, #ffffff, #ffffff);
    background-size: 1000% 1000%;

    -webkit-animation: AnimationName 19s ease infinite;
    -moz-animation: AnimationName 19s ease infinite;
    -o-animation: AnimationName 19s ease infinite;
    animation: AnimationName 19s ease infinite;

    color: var(--text-color);
    cursor: none;
}


@-webkit-keyframes AnimationName {
  0% {
    background-position: 1% 0%
  }

  50% {
    background-position: 99% 100%
  }

  100% {
    background-position: 1% 0%
  }
}

@-moz-keyframes AnimationName {
  0% {
    background-position: 1% 0%
  }

  50% {
    background-position: 99% 100%
  }

  100% {
    background-position: 1% 0%
  }
}

@-o-keyframes AnimationName {
  0% {
    background-position: 1% 0%
  }

  50% {
    background-position: 99% 100%
  }

  100% {
    background-position: 1% 0%
  }
}

@keyframes AnimationName {
  0% {
    background-position: 1% 0%
  }

  50% {
    background-position: 99% 100%
  }

  100% {
    background-position: 1% 0%
  }
}

section {
  min-height: 100vh;
  padding: 10rem 6% 2rem;
}



/* Navbar start  */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background: white;

  display: flex;
  justify-content: space-between;
  z-index: 100;
  box-shadow: 0 0 3.5rem rgb(212, 212, 212);
  ;

}

.header .sticky {
  border-bottom: .1rem solid rgba(0, 0, 0, .2);
}

.logo {
  font-size: 3rem;
  color: var(--text-color);
  font-weight: bolder;
  cursor: default;
  padding-right: 10rem;
}



.navbar a {
  font-size: 2rem;
  font-weight: bold;
  color: var(--text-color);
  transition-delay: 100ms;
  margin-left: 4rem;
}

.navbar a:hover,
.navbar .active {
  color: var(--main-color);

}

#menu_icon {
  font-size: 3.6rem;
  color: var(--text-color);
  display: none;
}

/* Navbar end  */


/* Home Start  */
.home {
  justify-content: center;
  display: flex;
  align-items: center;
  padding: 20rem 0 0 30rem;
}

.home-img img {
  width: 100rem;
  padding:0 20rem 0 0;
  animation: floatImage 4s ease-in-out infinite;
  align-items: center;

  /* border-radius: 50%; */
}

@keyframes floatImage {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-2.4rem);
  }

  100% {
    transform: translateY(0);
  }
}

.home-content h3 {
  font-size: 3rem;
  font-weight: 700;
}

.home-content h3:nth-of-type(2) {
  /*margin-bottom: 2rem; */
}

span {
  color: var(--main-color);
}

.home-content h1 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 5.6rem;
  font-weight: 500;
  line-height: 1.3;

}

.home-content p {
  padding: 35px 0;
  max-width: 800px;
  font-size: 1.9rem;
}

.social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;

  background: rgb(0, 151, 238);
  background: linear-gradient(90deg, rgba(0, 151, 238, 1) 0%, rgba(0, 154, 237, 1) 50%, rgba(0, 191, 255, 1) 100%);

  border-radius: 50%;
  font-size: 2.5rem;
  color: var(--bg-color);
  margin: 1rem 2.2rem 3rem 0;
  transition: box-shadow 0.5s ease;
  transition: color 0.3s ease;
  transition: 0.5 ease;

}



.social-media a:hover {
  background: var(--bg-color);
  color: var(--main-color);
  box-shadow: 0 0 2rem rgb(86, 188, 255);
}

/* Home end  */

.btn {
  display: inline-block;
  padding: 1.5rem 4rem;
  background: rgb(0, 151, 238);
  background: linear-gradient(90deg, rgba(0, 151, 238, 1) 0%, rgba(0, 154, 237, 1) 50%, rgba(0, 191, 255, 1) 100%);
  border-radius: 4rem;
  box-shadow: none;
  font-size: 2rem;
  color: var(--bg-color);
  letter-spacing: .1rem;
  font-weight: 600;

  transition: 0.5 ease;
  transition: color 0.5 ease;
  transition: box-shadow 0.5s ease;
}


.btn:hover {
  box-shadow: 0 0 1.5rem rgb(86, 188, 255);
  ;
  /* rgb(109, 196, 255); */
  border-radius: 4rem;

}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;

}

.about-img embed { 
    width: 35vw;
  
}


.heading {
  text-align: center;
  font-size: 4.5rem;
}

.about-content h2 {
  text-align: left;
  line-height: 1.2;
}

.about-content h3 {
  font-size: 2.6rem;
}

.about-content p {
  font-size: 1.6rem;
  margin: 3rem 0 3rem 0;
}


.services h2 {
  margin-bottom: 5rem;

}

.services-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5rem;
}

.services-container .services-box {
  flex: 1 1 30rem;
  background: transparent;
  padding: 3rem 2rem 4rem;
  border-radius: 2.5rem;
  text-align: center;
  transition: .5 ease;

  border: 0.2rem solid #99999938;
  transition: box-shadow 0.5s ease;
}

.services-container .services-box:hover {
  border-color: transparent;
  transform: scale(1.02);
  box-shadow: 0 0 3rem rgb(72, 182, 255);
}

.services-box i {
  font-size: 7rem;
  color: var(--main-color);
}

.services-box h3 {
  font-size: 2.6rem;
}

.services-box p {
  font-size: 1.6rem;
  margin: 1rem 0 3rem;
}


/* Portfolio  */
.portfolio {
  background-color: transparent;
  margin-bottom: 20rem;
}

.portfolio h2 {
  margin-bottom: 4rem;
}

.portfolio-contianer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 2.5rem;
}

.portfolio-contianer .portfolio-box {
  position: relative;
  border-radius: 2rem;
  box-shadow: 0 0 1rem var(--bg-color);
  overflow: hidden;
  display: flex;
}

.portfolio-box img {
  width: 100%;
  transition: .5s ease;
}

.portfolio-box:hover img {
  transform: scale(1.1);
}

.portfolio-box .portfolio-layer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgb(0, 0, 0, .1), var(--main-color));
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 4rem;
  transform: translateY(100%);
  transition: .5s ease;
}

.portfolio-box:hover .portfolio-layer {
  transform: translateY(0);
}

.portfolio-layer h4 {
  font-size: 3rem;
}

.portfolio-layer p {
  font-size: 1.6rem;
  margin: .3rem 0 1rem;
}

.portfolio-layer a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  background: var(--text-color);
  border-radius: 50%;
}

.portfolio-layer a i {
  font-size: 2rem;
  color: var(--secon-bg-color);
}







.contact h2 {
  margin-bottom: 3rem;
}

.contact form {
  max-width: 70rem;
  margin: 1rem auto;
  text-align: center;
  margin-bottom: 3rem;
}

.contact form .input-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
  width: 100%;
  padding: 1.5rem;
  font-size: 1.6rem;
  color: var(--text-color);
  background: var(--second-bg-color);
  border-radius: .8rem;
  margin: .7rem 0;
}

.contact form .input-box input {
  width: 49%;
}

.contact form textarea {
  resize: none;
}

.contact form .btn {
  margin-top: 2rem;
  cursor: pointer;
}

.gradient {
  color: rgb(0, 151, 238);
  color: linear-gradient(90deg, rgba(0, 151, 238, 1) 0%, rgba(0, 154, 237, 1) 50%, rgba(0, 191, 255, 1) 100%);
  ;


}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem 9%;
  background: var(--second-bg-color);

}

.footer p {
  font-size: 1.6rem;
}

.footer-iconTop a {
  background: var(--main-color);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: .8rem;
  border-radius: .8rem;
  transition: .5s ease;
}

.footer-iconTop a:hover {
  box-shadow: 0 0 1rem var(--main-color);
}

.footer-iconTop a i {
  font-size: 2.4rem;
  color: var(--second-bg-color);
}

/* BreakPoints */

@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 991px) {
  .header {
    padding: 2rem 3%;
  }

  section {
    padding: 10rem 3% 2rem;
  }

  .services {
    padding-bottom: 7rem;
  }

  .portfolio {
    padding-bottom: 7rem;
  }

  .contact {
    min-height: auto;
  }

  .footer {
    padding: 2rem 3%;
  }
}

@media (max-width: 768px) {
  #menu_icon {
    display: block;
  }

  .navbar {
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
    padding: 1rem 3%;
    background: var(--bg-color);
    border: .1rem solid rgba(0, 0, 0, .2);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
    display: none;
  }

  .navbar.active {
    display: block;
  }

  .navbar a {
    display: block;
    font-size: 2rem;
    margin: 3rem 0;

  }

  .home {
    flex-direction: column;
  }

  .home-content h3 {
    font-size: 2.6rem;
  }

  .home-content h1 {
    font-size: 5rem;
  }

  .home-img img {
    width: 70vw;
    margin-top: 4rem;
  }

  .about {
    flex-direction: column-reverse;
  }

  .about img {
    margin-top: 4rem;

  }

  .services h2 {
    margin-bottom: 3rem;
  }

  .portfolio h2 {
    margin-bottom: 3rem;
  }

  .portfolio-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 617px) {
  .portfolio_container {
    grid-template-columns: 1fr;
  }

}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .contact form .input-box input {
    width: 100%;
  }

}

@media (max-width: 365px) {
  .home-img img {
    width: 90vw;
  }

  .about-img img {
    width: 90vw;
  }

  .footer {
    flex-direction: column-reverse;
  }

  .footer p {
    text-align: center;
    margin-top: 2rem;
  }

}