<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>ZKDonate</title>


  <!-- box icons -->
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
  <!-- <script src="path/to/typed.js"></script> -->
  <!-- custom css -->
  <link rel="stylesheet" href="./css/style.css" />
</head>

<body>

  <div class="cursor"></div>

  <script type="text/javascript">


    const cursor = document.querySelector(".cursor");
    var timeout;

    //follow cursor on mousemove
    document.addEventListener("mousemove", (e) => {

      let x = e.clientX; //replace pageX for client
      let y = e.clientY; // replace  pageY for clientY
      cursor.style.top = y + "px";
      cursor.style.left = x + "px";
      cursor.style.display = "block";

      //cursor effects when mouse stopped
      function mouseStopped() {
        cursor.style.display = "none";
      }
      clearTimeout(timeout);
      timeout = setTimeout(mouseStopped, 1000);
    });

    //cursor effects when mouseout
    document.addEventListener("mouseout", () => {
      cursor.style.display = "none";
    });
  </script>

  <!-- header design  -->
  <header class="header">
    <a href="#" class="logo">Total Donation:</a>

    <i class="bx bx-menu" id="menu_icon"></i>

    <nav class="navbar">
      <a href="#home" class="active">Home</a>
      <a href="#about">About Us</a>
      <a href="#services">Donate</a>
      <a href="#portfolio">FAQ</a>
    </nav>
  </header>


  <!-- Home Section Design  -->
  <section class="home" id="home">
    <div class="home-content">

      <h1 style="color: black; font-weight: 600;">Zero <span style="font-weight: 500; color: black;">knowledge,</span>
        maximum <span style="font-weight: 500; color: black;">impact.</span> </h1>

      <h1 style="font-weight: 500;"><span style="font-family: Montserrat; font-weight: 600;">ZKDonate</span> is <span
          class="multiple-text" style="font-family: Montserrat; font-weight: 400;"></span></h1>

      <p>
        ZKDonate is a zero knowledge proof based donation application designed to enhance the security
        and privacy of charitable contributions.
        With this application, donors can make donations without revealing any personal or financial information, thus
        reducing the risk of identity theft and fraud.
      </p>
      <div class="social-media">
        <a href="#"><i class='bx bxl-telegram'></i></a>
        <a href="#"><i class='bx bxl-github'></i></i></a>
        <a href="#"><i class='bx bxl-twitter'></i></a>
      </div>
      <a href="#" class="btn">DONATE</a>
    </div>



    <div class="home-img">
      <img src="./images/person-donating.png" alt="">
    </div>
  </section>

  <!-- About Section  -->
  <section class="about" id="about">
    <div class="about-img">

      <div style="border-radius: 3.5rem; overflow: hidden; box-shadow: 0 0 2rem #cfcfcf;">
        <iframe width="768" height="432" src="https://www.youtube.com/embed/krSvebhauWA">
        </iframe>
      </div>


    </div>
    <div class="about-content" style="padding: 10rem 7rem 6%;">
      <h2 class="heading">About <span>Us</span></h2>
      <p style="font-size: large; line-height: 3rem;">We are the team behind ZKDonate, a revolutionary donation application designed to provide a more secure and
        private way for individuals to make charitable contributions. Our goal is to leverage the power of zero
        knowledge proofs to ensure that donors can give to their favorite causes without the fear of exposing sensitive
        information.
        <br>
        </br>
        Our team is made up of those who share a common
        vision of making the world a better place through technology. We believe that everyone should have the
        opportunity to give back to their community and support causes they care about, without worrying about the risks
        of identity theft or fraud.
        <br>
        </br>
        We are excited to be participating in the ETHTokyo Hackathon, and we look forward to showcasing our innovative
        solution to the judges and fellow participants. With ZKDonate, we hope to inspire others to explore the
        possibilities of zero knowledge proofs and to join us in creating a safer, more secure world for everyone.
      </p>
    </div>
  </section>

  <!-- Service Section Design  -->
  <section class="services" id="services">
    <h2 class="heading">Donate</h2>

    <div class="services-container">
      <div class="services-box">
        <i class='bx bx-code-alt'></i>
        <h3>The Unicorn Foundation</h3>
        <p>The Unicorn Foundation is a charitable organization dedicated to supporting research into the mythical
          creatures known as unicorns. The foundation's mission is to uncover the secrets of these magical creatures and
          promote their conservation and protection.</p>
        
      </div>

      <div class="services-box">
        <i class='bx bx-paint'></i>
        <h3>The Time Traveler's Foundation</h3>
        <p>The Time Traveler's Foundation is a nonprofit organization that aims to fund research and development of time
          travel technology. The foundation's ultimate goal is to enable people to travel through time and witness
          historical events firsthand, with the hope of promoting a better understanding of our past and future.</p>
        
      </div>

      <div class="services-box">
        <i class='bx bx-bar-chart-alt'></i>
        <h3>The Ninja Foundation</h3>
        <p>The Ninja Foundation is a charity that supports the training and education of aspiring ninjas around the
          world. The foundation's mission is to preserve the ancient art of ninjutsu and promote the values of
          discipline, honor, and respect that are central to the ninja way of life.</p>
      </div>
      <div class="container">
        <button class="button" id="connectButton">
          Connect wallet
  
          <span id="loading">
           <span>&bull;</span><span>&bull;</span><span>&bull;</span> 
          </span>
        </button>
  
        <div id="walletID">Your wallet is not connected yet.</div>
  
       <div id="mobileDeviceWarning">
          If you are on a mobile phone, please use MetaMask 
          application's browser to connect.
       </div>
   </div>
  
  <div class="alert" id="installAlert">
    Please refresh your browser after installing the Metamask plugin
  
    <button class="button" id="reloadButton">Reload page</button>
  </div>

    </div>
  </section>

<section class="portfolio" id="portfolio">
  <h2 style="margin: 20px auto 80px;
    font-size: 38px;
    font-weight: 300;
    text-align: center;
    letter-spacing: 2px;
    line-height: 1.5;">Frequently Asked Questions</h2>

<div style="visibility: hidden; position: absolute; width: 0px; height: 0px;">
  <svg xmlns="http://www.w3.org/2000/svg">
    <symbol viewBox="0 0 24 24" id="expand-more">
      <path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z"/><path d="M0 0h24v24H0z" fill="none"/>
    </symbol>
    <symbol viewBox="0 0 24 24" id="close">
      <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/><path d="M0 0h24v24H0z" fill="none"/>
    </symbol>
  </svg>
</div>

<details open>
  <summary>
    Does this product have what I need?
    <svg class="control-icon control-icon-expand" width="24" height="24" role="presentation"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#expand-more" /></svg>
    <svg class="control-icon control-icon-close" width="24" height="24" role="presentation"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close" /></svg>
  </summary>
  <p style="margin-top: 20px;">Totally. Totally does.</p>
</details>

<details>

  <summary>
    Can I use it all the time?
    <svg class="control-icon control-icon-expand" width="24" height="24" role="presentation"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#expand-more" /></svg>
    <svg class="control-icon control-icon-close" width="24" height="24" role="presentation"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close" /></svg>
  </summary>
  <p style="margin-top: 20px;">Of course you can, we won't stop you.</p>
</details>

<details>
  <summary>
    Are there any restrictions?    
    <svg class="control-icon control-icon-expand" width="24" height="24" role="presentation"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#expand-more" /></svg>
    <svg class="control-icon control-icon-close" width="24" height="24" role="presentation"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close" /></svg>
  </summary>
  <p style="margin-top: 20px;">Only your imagination my friend. Go forth!</p>
</details>
</section>
  <!-- Portfolio Section Design  -->
  <!--  
  <section class="portfolio" id="portfolio">
    <h2 class="heading">Latest <span>Project</span></h2>
    <div class="portfolio-contianer">
      <div class="portfolio-box">
        <img src="./images/portfolio1.jpg" alt="">
        <div class="portfolio-layer">
          <h4 style="color:var(--bg-color);">Web Design</h4>
          <p style="color:var(--bg-color);">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur minima
            sapiente asperiores
            nam.</p>
          <a href="#"><i class='bx bx-link-external'></i></a>
        </div>
      </div>

      <div class="portfolio-box">
        <img src="./images/portfolio2.jpg" alt="">
        <div class="portfolio-layer">
          <h4 style="color:var(--bg-color);">Web Design</h4>
          <p style="color:var(--bg-color);">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur minima
            sapiente asperiores
            nam.</p>
          <a href="#"><i class='bx bx-link-external'></i></a>
        </div>
      </div>

      <div class="portfolio-box">
        <img src="./images/portfolio3.jpg" alt="">
        <div class="portfolio-layer">
          <h4 style="color:var(--bg-color);">Web Design</h4>
          <p style="color:var(--bg-color);">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur minima
            sapiente asperiores
            nam.</p>
          <a href="#"><i class='bx bx-link-external'></i></a>
        </div>
      </div>

      <div class="portfolio-box">
        <img src="./images/portfolio4.jpg" alt="">
        <div class="portfolio-layer">
          <h4 style="color:var(--bg-color);">Web Design</h4>
          <p style="color:var(--bg-color);">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur minima
            sapiente asperiores
            nam, placeat sit inventore sint dolor dignissimos adipisci totam tempore labore voluptas esse
            dolorum officia. Blanditiis, ab laudantium.</p>
          <a href="#"><i class='bx bx-link-external'></i></a>
        </div>
      </div>

      <div class="portfolio-box">
        <img src="./images/portfolio5.jpg" alt="">
        <div class="portfolio-layer">
          <h4 style="color:var(--bg-color);">Web Design</h4>
          <p style="color:var(--bg-color);">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur minima
            sapiente asperiores
            nam, placeat sit inventore sint dolor dignissimos adipisci totam tempore labore voluptas esse
            dolorum officia. Blanditiis, ab laudantium.</p>
          <a href="#"><i class='bx bx-link-external'></i></a>
        </div>
      </div>

      <div class="portfolio-box">
        <img src="./images/portfolio6.jpg" alt="">
        <div class="portfolio-layer">
          <h4 style="color:var(--bg-color);">Web Design</h4>
          <p style="color:var(--bg-color);">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur minima
            sapiente asperiores
            nam, placeat sit inventore sint dolor dignissimos adipisci totam tempore labore voluptas esse
            dolorum officia. Blanditiis, ab laudantium.</p>
          <a href="#"><i class='bx bx-link-external'></i></a>
        </div>
      </div>

    </div>
  </section>
  -->

  <!-- contact section design -->
  <!--
   <section class="contact" id="contact"> 
    <h2 class="heading">
      Contact <span>Me!</span>
    </h2>
    <form action="#">
      <div class="input-box">
        <input type="text" placeholder="Full Name">
        <input type="email" placeholder="Email Address">
      </div>
      <div class="input-box">
        <input type="number" placeholder="Mobile Number">
        <input type="text" placeholder="Email Subject">
      </div>
      <textarea name="" id="" cols="30" rows="10" placeholder="Your Message"></textarea>
      <input type="submit" value="Send Message" class="btn">
    </form>
  </section> 
  
  <-- footer section -->
  <footer class="footer">
    <div class="footer-text">
      <p>Made with ♥️ 14.04.23-16.04.23</p>
    </div>
    <div class="footer-iconTop">
      <a href="#home"><i class="bx bx-up-arrow-alt"></i></a>
    </div>

  </footer>

  <!-- scroll reveal -->
  <script src="https://unpkg.com/scrollreveal"></script>

  <!-- typed js -->
  <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>


  <!-- custom js -->
  <script src="./js/index.js"></script>
</body>

</html>